<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Shop ComfyBlankets Online</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
      <link rel="stylesheet" href="/path/to/flickity.css" media="screen">
      <link href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/wanaka-tree.jpg">
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
       
      <div class="page-title">Comfy Blankets
      </div>
      <p style="text-align: left;">A soft and cozy baby blanket, handmade with lots of love just for your precious little one! Made by a single mom who loves to crochet! I'm new to Etsy and look forward to sharing my creations with you!</p>
      <div class="slider-body">
    <div class="slider">
  
  

  <div class="slides">
    <div id="slide-1">
    <a href="https://www.instagram.com/babyblanketsati/" target="_blank">
    <img src="/images/3.jpg" alt="Girl in a jacket" ></a>
    </div>
    <div id="slide-2">
      <a href="https://www.instagram.com/babyblanketsati/" target="_blank">
      <img src="/images/2.jpg" alt="Girl in a jacket" ></a>
    </div>
    <div id="slide-3">
      <a href="https://www.instagram.com/babyblanketsati/" target="_blank">
      <img src="/images/5.jpg" alt="Girl in a jacket" ></a>
    </div>
    <div id="slide-4">
      <a href="https://www.instagram.com/babyblanketsati/" target="_blank">
      <img src="/images/12.jpg" alt="Girl in a jacket" ></a>
    </div>
    <div id="slide-5">
      <a href="https://www.instagram.com/babyblanketsati/" target="_blank">
      <img src="/images/7.jpg" alt="Girl in a jacket" ></a>
    </div>
  </div>
</div>
</div>

      <th:block th:include="/_footer"></th:block>
       <script>
     fetch('https://api.unsplash.com/photos/random/?count=5&client_id=52d8369eb3e2576a5f5b6423865e074e9c7045761bff1ac5664ff3e0bdb57a1d') 
    .then(response => response.json())
    .then(data => {
      data.forEaach(function(image, i) {
         document.querySelector("#slide-" + (i+1)).innerHTML = `
           <img src="${image.urls.regular}" alt="">
          <p class="author-info">
            <a href="${image.links.html}?utm_source=slider-thing&utm_medium=referral&utm_campaign=api-credit">Photo by ${image.user.name}</a> on <a href="https://unsplash.com/">Unsplash</a>
           </p>
         `;
       });
    })
    
       
       </script>
       <script type="text/javascript"></script>
   </body>
</html>